@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Montserrat", serif;
}

html {
  scroll-behavior: smooth;
}

.logos {
  overflow: hidden;
  padding: 40px 0;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.logos:before,
.logos:after {
  content: "";
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.logos:before {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.logos:after {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

/* Dark mode support */
.dark .logos {
  background-color: black;
}

.dark .logos:before {
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.dark .logos:after {
  background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.logos-slide {
  display: flex;
  align-items: center;
  animation: scroll-left 10s linear infinite;
  width: max-content;
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide img {
  height: 100px;
  width: auto;
  margin-right: 100px;
}

/* Keep animation smooth */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
